.jk{
    display:flex;
    flex-direction:row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    margin-top: 50px;
}
#h11{
    font-size: 80px;
}
.k{
    margin:20px;
    text-align:justify;
    height: 1000px; width:1000px;
}
.a{
    background-color:rgb(231, 142, 54); 
    height: 200px; 
    width: 400px;
    font-size: 50px;
    text-align: center;
}
.pa{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content: center;
    align-items: center;
}

.c{
    display:flex;
    flex-direction: row;
    gap :200px;
    justify-content: center;
    align-items: center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(129, 125, 125, 0.2);
    background-color:rgb(238, 234, 234);
    font-size: 20px;
}
.card {
    
    box-shadow: 0 4px 8px 0 rgba(129, 125, 125, 0.2);
    background-color: rgb(238, 234, 234);
    font-size: 20px;
}
.con{
    position: relative;
    text-align: center;
    color: white;
}
.cen{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 120px;
}
.lef{
    position: relative;
    text-align: left;
    color:white;
}
.left{
    position: absolute;
    top:100px;
    left:600px;
    font-size: 70px;
}
.btn {
    display: block;
    margin-bottom: 40px;
    margin-left: 250px;
    background-color: black;
    color: white;
    font-size: 2500px;
    padding: 20px 50px;
}
.hh{
    display:flex;
    flex-direction: row;
    font-size: 40px;
}
.m{
    display:flex;
    flex-direction: row;
    gap: 50px;
    justify-content: right;
    text-align: right;
    font-size:60px
}
.l{
    display: flex;
    flex-direction: row;
    gap:4500px
}
.hs{
    font-size:100px;
}
.ii{
    font-size:80px;
    margin-top: 90px;
    JUSTIFY-CONTENT: RIGHT;
}
#i1{
    width: 100%; height:1500px;
}
.b1{
    background-color:white; font-size:50px;
}
#s1{
    color:orange;
}
.p1{
    color:white; font-size:150px;
}
#s2{
    height: 900px; width:1000px;
}
#hl1{
    color:red;
    font-size: 50px;
}
#d1{
    background-color:rgb(223, 227, 227)
}
#p2{
    font-size: 60px;
}
#s2{
    color:orange;
}
#s3{
    color:blue;
}
#i2{
    width: 100%; height:1500px;
}
#v1{
    
    margin-left: 50px; 
    margin-top: 50px;
}
#i3{
    width: 100%; 
    height:1500px;
    display:block;
}
.vv{
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}
#p3{
    font-size: 150px;
    text-align: center;
} h4{
    font-size: 50px;
}
#ss1{
    color:black;
} 
#n1{
    background-color:black;
    PADDING:20PX;
}
#nn1{
    color:white;
}
#sst{
    color:orange;
    font-size: 30px;
}
.SS1{
    display:flex;
    flex-direction: row;
    GAP: 400PX;
    color:orange;
}
#l11{
    font-size: 300px; 
}
#d1{
    font-size: 40px;
    background-color:rgb(238, 234, 234);
}